<!DOCTYPE html>
<html lang="en">

<div style="height: 450px;overflow: scroll;">
<table class="styled-table">
    <thead>
        <tr>
            <th width="5%">Item<br>No.</th>
            <th width="5%">Delivery<br>time</th>
            <th width="5%">Devi-<br>ation</th>
            <th width="10%">Discount<br>quantity</th>
            <th width="15%">Initial<br>stock<br>in Per n</th>
            <th width="30%" colspan="4">Gross requirements<br>according the prod.progr.<br>n&emsp;n+1&emsp;n+2&emsp;n+3</th>
            <th width="20%">Amount</th>
            <th width="10%">Order<br>N/E</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>21</td>
            <td>1,8</td>
            <td>0,4</td>
            <td>300</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>22</td>
            <td>1,7</td>
            <td>0,4</td>
            <td>300</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>23</td>
            <td>1,2</td>
            <td>0,2</td>
            <td>300</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>24</td>
            <td>3,2</td>
            <td>0,3</td>
            <td>6100</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>25</td>
            <td>0,9</td>
            <td>0,2</td>
            <td>3600</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>27</td>
            <td>0,9</td>
            <td>0,2</td>
            <td>1800</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>28</td>
            <td>1,7</td>
            <td>0,4</td>
            <td>4500</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>32</td>
            <td>2,1</td>
            <td>0,5</td>
            <td>2700</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>33</td>
            <td>1,9</td>
            <td>0,5</td>
            <td>900</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>34</td>
            <td>1,6</td>
            <td>0,3</td>
            <td>22000</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>35</td>
            <td>2,2</td>
            <td>0,4</td>
            <td>3600</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>36</td>
            <td>1,2</td>
            <td>0,1</td>
            <td>900</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>37</td>
            <td>1,5</td>
            <td>0,3</td>
            <td>900</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>38</td>
            <td>1,7</td>
            <td>0,3</td>
            <td>300</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr> 
        <tr>
            <td>39</td>
            <td>1,5</td>
            <td>0,3</td>
            <td>1800</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr> 
        <tr>
            <td>40</td>
            <td>1,7</td>
            <td>0,2</td>
            <td>900</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr> 
        <tr>
            <td>41</td>
            <td>0,9</td>
            <td>0,2</td>
            <td>900</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr> 
        <tr>
            <td>42</td>
            <td>1,2</td>
            <td>0,3</td>
            <td>1800</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr> 
        <tr>
            <td>43</td>
            <td>2,0</td>
            <td>0,5</td>
            <td>2700</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr> 
        <tr>
            <td>44</td>
            <td>1,0</td>
            <td>0,2</td>
            <td>900</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr> 
        <tr>
            <td>45</td>
            <td>1,7</td>
            <td>0,3</td>
            <td>900</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr> 
        <tr>
            <td>46</td>
            <td>0,9</td>
            <td>0,3</td>
            <td>900</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr> 
        <tr>
            <td>47</td>
            <td>1,1</td>
            <td>0,1</td>
            <td>900</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr> 
        <tr>
            <td>48</td>
            <td>1,0</td>
            <td>0,2</td>
            <td>1800</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr> 
        <tr>
            <td>52</td>
            <td>1,6</td>
            <td>0,4</td>
            <td>600</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr> 
        <tr>
            <td>53</td>
            <td>1,6</td>
            <td>0,2</td>
            <td>22000</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr> 
        <tr>
            <td>57</td>
            <td>1,7</td>
            <td>0,3</td>
            <td>600</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr> 
        <tr>
            <td>58</td>
            <td>1,6</td>
            <td>0,5</td>
            <td>22000</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr> 
        <tr>
            <td>59</td>
            <td>0,7</td>
            <td>0,2</td>
            <td>1800</td>
            <td>
                <input type="text">
            </td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        
    </tbody>
</table>
</div>

</html>
