<div style="height: 500px; overflow: auto">
  <table class="styled-table" id="excelTable">
    <thead>
      <tr>
        <th width="7%">{{ "PROCUREMENT.NUMBER" | translate }}</th>
        <th width="7%">{{ "PROCUREMENT.DELIVERY" | translate }}</th>
        <th width="7%">{{ "PROCUREMENT.DEVIATION" | translate }}</th>
        <th width="10%">{{ "PROCUREMENT.DISCOUNT" | translate }}</th>
        <th width="10%">{{ "PROCUREMENT.STOCK" | translate }}</th>
        <th width="20%" colspan="4">
          {{ "PROCUREMENT.REQUIREMENTS" | translate }}<br />
          <div style="display: flex">
            <p style="margin-left: 9%">n</p>
            <p style="margin-left: 21%">n+1</p>
            <p style="margin-left: 21%">n+2</p>
            <p style="margin-left: 21%">n+3</p>
          </div>
        </th>
        <th width="10%">{{ "PROCUREMENT.AMOUNT" | translate }}</th>
        <th width="10%">{{ "PROCUREMENT.ORDER" | translate }}<br />N/E</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>21</td>
        <td>1,8</td>
        <td>0,4</td>
        <td>300</td>
        <!-- <td>1x</td>
        <td>0x</td>
        <td>0x</td> -->
        <td>{{ mapInitialStockValue(21) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  1,
                  0,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  1,
                  0,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  1,
                  0,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  1,
                  0,
                  0
                )
              : 0
          }}
        </td>
        <!-- <td>{{ nValues && nValues[0]?.n1 ? nValues[0]?.n1 : 0 }}</td>
        <td>{{ nValues && nValues[0]?.n2 ? nValues[0]?.n2 : 0 }}</td>
        <td>{{ nValues && nValues[0]?.n3 ? nValues[0]?.n3 : 0 }}</td>
        <td>{{ nValues && nValues[0]?.n4 ? nValues[0]?.n4 : 0 }}</td> -->
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order1" ([value])="(orderN)" (click)="disable(this)" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order1" ([value])="(orderE)" (click)="disable(this)" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>22</td>
        <td>1,7</td>
        <td>0,4</td>
        <td>300</td>
        <!-- <td>1x</td>
        <td>0x</td>
        <td>0x</td> -->

        <td>{{ mapInitialStockValue(22) }}</td>

        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  0,
                  1,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  0,
                  1,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  0,
                  1,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  0,
                  1,
                  0
                )
              : 0
          }}
        </td>
        <!-- <td>{{ nValues && nValues[1]?.n1 ? nValues[1]?.n1 : 0 }}</td>
        <td>{{ nValues && nValues[1]?.n2 ? nValues[1]?.n2 : 0 }}</td>
        <td>{{ nValues && nValues[1]?.n3 ? nValues[1]?.n3 : 0 }}</td>
        <td>{{ nValues && nValues[1]?.n4 ? nValues[1]?.n4 : 0 }}</td> -->
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order2" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order2" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>23</td>
        <td>1,2</td>
        <td>0,2</td>
        <td>300</td>
        <!-- <td></td>
        <td></td>
        <td>1x</td> -->
        <td>{{ mapInitialStockValue(23) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  0,
                  0,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  0,
                  0,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  0,
                  0,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  0,
                  0,
                  1
                )
              : 0
          }}
        </td>
        <!-- <td>{{ nValues && nValues[2]?.n1 ? nValues[2]?.n1 : 0 }}</td>
        <td>{{ nValues && nValues[2]?.n2 ? nValues[2]?.n2 : 0 }}</td>
        <td>{{ nValues && nValues[2]?.n3 ? nValues[2]?.n3 : 0 }}</td>
        <td>{{ nValues && nValues[2]?.n4 ? nValues[2]?.n4 : 0 }}</td> -->
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order3" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order3" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>24</td>
        <td>3,2</td>
        <td>0,3</td>
        <td>6100</td>
        <!-- <td>7x</td>
        <td>7x</td>
        <td>7x</td> -->
        <td>{{ mapInitialStockValue(24) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  7,
                  7,
                  7
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  7,
                  7,
                  7
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  7,
                  7,
                  7
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  7,
                  7,
                  7
                )
              : 0
          }}
        </td>

        <!-- <td>{{ nValues && nValues[3]?.n1 ? nValues[3]?.n1 : 0 }}</td>
        <td>{{ nValues && nValues[3]?.n2 ? nValues[3]?.n2 : 0 }}</td>
        <td>{{ nValues && nValues[3]?.n3 ? nValues[3]?.n3 : 0 }}</td>
        <td>{{ nValues && nValues[3]?.n4 ? nValues[3]?.n4 : 0 }}</td> -->
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order4" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order4" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>25</td>
        <td>0,9</td>
        <td>0,2</td>
        <td>3600</td>
        <!-- <td>4x</td>
        <td>4x</td>
        <td>4x</td> -->
        <td>{{ mapInitialStockValue(25) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  4,
                  4,
                  4
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  4,
                  4,
                  4
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  4,
                  4,
                  4
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  4,
                  4,
                  4
                )
              : 0
          }}
          <!-- <td>{{ nValues && nValues[4]?.n1 ? nValues[4]?.n1 : 0 }}</td>
        <td>{{ nValues && nValues[4]?.n2 ? nValues[4]?.n2 : 0 }}</td>
        <td>{{ nValues && nValues[4]?.n3 ? nValues[4]?.n3 : 0 }}</td>
        <td>{{ nValues && nValues[4]?.n4 ? nValues[4]?.n4 : 0 }}</td> -->
        </td>

        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order5" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order5" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>27</td>
        <td>0,9</td>
        <td>0,2</td>
        <td>1800</td>
        <!-- <td>2x</td>
        <td>2x</td>
        <td>2x</td> -->
        <td>{{ mapInitialStockValue(27) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order6" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order6" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>28</td>
        <td>1,7</td>
        <td>0,4</td>
        <td>4500</td>
        <!-- <td>4x</td>
        <td>5x</td>
        <td>6x</td> -->
        <td>{{ mapInitialStockValue(28) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  4,
                  5,
                  6
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  4,
                  5,
                  6
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  4,
                  5,
                  6
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  4,
                  5,
                  6
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order7" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order7" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>32</td>
        <td>2,1</td>
        <td>0,5</td>
        <td>2700</td>
        <!-- <td>4x</td>
        <td>5x</td>
        <td>6x</td> -->
        <td>{{ mapInitialStockValue(32) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  3,
                  3,
                  3
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  3,
                  3,
                  3
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  3,
                  3,
                  3
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  3,
                  3,
                  3
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order8" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order8" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>33</td>
        <td>1,9</td>
        <td>0,5</td>
        <td>900</td>
        <!-- <td>4x</td>
        <td>5x</td>
        <td>6x</td> -->
        <td>{{ mapInitialStockValue(33) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  0,
                  0,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  0,
                  0,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  0,
                  0,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  0,
                  0,
                  2
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order9" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order9" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>34</td>
        <td>1,6</td>
        <td>0,3</td>
        <td>22000</td>
        <!-- <td>4x</td>
        <td>5x</td>
        <td>6x</td> -->
        <td>{{ mapInitialStockValue(34) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  0,
                  0,
                  72
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  0,
                  0,
                  72
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  0,
                  0,
                  72
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  0,
                  0,
                  72
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order10" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order10" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>35</td>
        <td>2,2</td>
        <td>0,4</td>
        <td>3600</td>
        <!-- <td>4x</td>
        <td>5x</td>
        <td>6x</td> -->
        <td>{{ mapInitialStockValue(35) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  4,
                  4,
                  4
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  4,
                  4,
                  4
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  4,
                  4,
                  4
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  4,
                  4,
                  4
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order11" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order11" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>36</td>
        <td>1,2</td>
        <td>0,1</td>
        <td>900</td>
        <!-- <td>4x</td>
        <td>5x</td>
        <td>6x</td> -->
        <td>{{ mapInitialStockValue(36) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order12" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order12" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>37</td>
        <td>1,5</td>
        <td>0,3</td>
        <td>900</td>
        <!-- <td>4x</td>
        <td>5x</td>
        <td>6x</td> -->
        <td>{{ mapInitialStockValue(37) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order13" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order13" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>38</td>
        <td>1,7</td>
        <td>0,3</td>
        <td>300</td>
        <!-- <td>4x</td>
        <td>5x</td>
        <td>6x</td> -->
        <td>{{ mapInitialStockValue(38) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order14" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order14" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>39</td>
        <td>1,5</td>
        <td>0,3</td>
        <td>1800</td>
        <!-- <td>4x</td>
        <td>5x</td>
        <td>6x</td> -->
        <td>{{ mapInitialStockValue(39) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order15" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order15" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>40</td>
        <td>1,7</td>
        <td>0,2</td>
        <td>900</td>
        <!-- <td>4x</td>
        <td>5x</td>
        <td>6x</td> -->
        <td>{{ mapInitialStockValue(40) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order16" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order16" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>41</td>
        <td>0,9</td>
        <td>0,2</td>
        <td>900</td>
        <!-- <td>4x</td>
        <td>5x</td>
        <td>6x</td> -->
        <td>{{ mapInitialStockValue(41) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order17" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order17" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>42</td>
        <td>1,2</td>
        <td>0,3</td>
        <td>1800</td>
        <!-- <td>4x</td>
        <td>5x</td>
        <td>6x</td> -->
        <td>{{ mapInitialStockValue(42) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order18" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order18" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>43</td>
        <td>2,0</td>
        <td>0,5</td>
        <td>2700</td>
        <!-- <td>4x</td>
        <td>5x</td>
        <td>6x</td> -->
        <td>{{ mapInitialStockValue(43) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order19" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order19" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>44</td>
        <td>1,0</td>
        <td>0,2</td>
        <td>900</td>
        <td>{{ mapInitialStockValue(44) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  3,
                  3,
                  3
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  3,
                  3,
                  3
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  3,
                  3,
                  3
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  3,
                  3,
                  3
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order20" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order20" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>45</td>
        <td>1,7</td>
        <td>0,3</td>
        <td>900</td>
        <td>{{ mapInitialStockValue(45) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order21" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order21" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>46</td>
        <td>0,9</td>
        <td>0,3</td>
        <td>900</td>
        <td>{{ mapInitialStockValue(46) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order23" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order23" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>47</td>
        <td>1,1</td>
        <td>0,1</td>
        <td>900</td>
        <td>{{ mapInitialStockValue(47) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  1,
                  1,
                  1
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order24" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order24" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>48</td>
        <td>1,0</td>
        <td>0,2</td>
        <td>1800</td>
        <td>{{ mapInitialStockValue(48) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order25" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order25" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>52</td>
        <td>1,6</td>
        <td>0,4</td>
        <td>600</td>
        <td>{{ mapInitialStockValue(52) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  2,
                  0,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  2,
                  0,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  2,
                  0,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  2,
                  0,
                  0
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order26" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order26" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>53</td>
        <td>1,6</td>
        <td>0,2</td>
        <td>22000</td>
        <td>{{ mapInitialStockValue(53) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  72,
                  0,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  72,
                  0,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  72,
                  0,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  72,
                  0,
                  0
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order27" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order27" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>57</td>
        <td>1,7</td>
        <td>0,3</td>
        <td>600</td>
        <td>{{ mapInitialStockValue(57) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  0,
                  2,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  0,
                  2,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  0,
                  2,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  0,
                  2,
                  0
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order28" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order28" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>58</td>
        <td>1,6</td>
        <td>0,5</td>
        <td>22000</td>
        <td>{{ mapInitialStockValue(58) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  0,
                  72,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  0,
                  72,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  0,
                  72,
                  0
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  0,
                  72,
                  0
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order29" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order29" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
      <tr>
        <td>59</td>
        <td>0,7</td>
        <td>0,2</td>
        <td>1800</td>
        <td>{{ mapInitialStockValue(59) }}</td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n1,
                  nValues[1]?.n1,
                  nValues[2]?.n1,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n2,
                  nValues[1]?.n2,
                  nValues[2]?.n2,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n3,
                  nValues[1]?.n3,
                  nValues[2]?.n3,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          {{
            nValues
              ? calculateGrossValue(
                  nValues[0]?.n4,
                  nValues[1]?.n4,
                  nValues[2]?.n4,
                  2,
                  2,
                  2
                )
              : 0
          }}
        </td>
        <td>
          <input type="number" value="0" [disabled]="!editable"/>
        </td>
        <td style="display: flex">
          <input type="checkbox" id="orderN" name="order30" value="orderN" [disabled]="!editable"/>
          <input type="checkbox" id="orderE" name="order30" value="orderE" [disabled]="!editable"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div
style="
  width: 100%;
  display: flex;
  margin-top: 0.5em;
  justify-content: flex-end;
"
>
  <button *ngIf="change" (click)="edit()">Change</button>
  <button *ngIf="commit" style="color:white; background:#1da1f2" (click)="save()">Commit</button>
</div>
