<h1>Material Requirements Planning</h1>
<div style="display: flex; flex-direction: column">
  <table mat-table [dataSource]="viewData" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Teil</th>
      <td mat-cell *matCellDef="let element">
        {{
          convertToNumber(element.id) <= 3 ? "P" + element.id : "E" + element.id
        }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="requiredAmount">
      <th mat-header-cell *matHeaderCellDef>
        Verbindliche Aufträge / Vertriebswunsch
      </th>
      <td mat-cell *matCellDef="let element">{{ element.requiredAmount }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="safetyStock">
      <th mat-header-cell *matHeaderCellDef>
        Geplanter Lagerbestand <br />
        am Ende der Planperiode (Sicherheitsbestand)
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input
            matInput
            type="number"
            min="0"
            step="1"
            [value]="element.safetyStock"
            [disabled]="changeModeIsOff"
            [(ngModel)]="element.safetyStock"
          />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="currentStock">
      <th mat-header-cell *matHeaderCellDef>
        Lagerbestand am Ende der Vorperiode
      </th>
      <td mat-cell *matCellDef="let element">{{ element.currentStock }}</td>
    </ng-container>

    <ng-container matColumnDef="ordersInWaitingQueue">
      <th mat-header-cell *matHeaderCellDef>Aufträge in der Warteschlange</th>
      <td mat-cell *matCellDef="let element">
        {{ element.ordersInWaitingQueue }}
      </td>
    </ng-container>

    <ng-container matColumnDef="workInProgress">
      <th mat-header-cell *matHeaderCellDef>Aufträge in Bearbeitung</th>
      <td mat-cell *matCellDef="let element">{{ element.workInProgress }}</td>
    </ng-container>

    <ng-container matColumnDef="result">
      <th mat-header-cell *matHeaderCellDef>
        Produktionsaufträge <br />
        für die Kommende Periode
      </th>
      <td mat-cell *matCellDef="let element">{{ round(element.result) }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div
    style="
      width: 100%;
      display: flex;
      margin-top: 0.5em;
      justify-content: flex-end;
    "
  >
    <button
      *ngIf="!changeModeIsOff"
      mat-stroked-button
      color="accent"
      (click)="discardChanges()"
      style="margin-right: 0.5em"
    >
      Back
    </button>
    <button mat-stroked-button color="primary" (click)="commitChanges()">
      {{ changeModeIsOff ? "Change" : "Commit" }}
    </button>
  </div>
</div>
