<div
  class="no-scroll app-content-wrapper"
  [@onInitAnimate]="init ? 'open' : 'close'"
>
  <div class="app-content-wrapper">
    <div>{{ "HELLO" | translate: param }}</div>

    <mat-form-field>
      <mat-label> {{ "HOME.LANGUAGE" | translate }} </mat-label>
      <mat-select
        #langSelect
        (selectionChange)="translate.use(langSelect.value)"
        [(ngModel)]="language"
      >
        <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
          {{ lang }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-xml-reader></app-xml-reader>
    <app-product-planning></app-product-planning>
    <app-material-requirements-planning></app-material-requirements-planning>
    <app-capacity-planning></app-capacity-planning>
    <app-procurement></app-procurement>
    <app-result></app-result>
  </div>
</div>
