.no-scroll {
  overflow: hidden;
}

.app-bar-spacer {
  flex: 1 1 auto;
}

.app-content-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-flex-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.stepper-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.stepper-button-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 5%;
  min-height: 43px;
}

.stepper-button-margin {
  margin: 0.25em;
}

.custom-content {
  height: 95%;
  overflow-y: hidden;
}
