<div
  class="no-scroll app-content-wrapper"
  [@onInitAnimate]="init ? 'open' : 'close'"
>
  <div class="app-content-wrapper">
    <mat-toolbar>
      <span>My Application</span>
      <span class="app-bar-spacer"></span>
      <mat-form-field>
        <mat-select
          #langSelect
          (selectionChange)="translate.use(langSelect.value)"
          [(ngModel)]="language"
        >
          <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
            {{ lang }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-toolbar>

    <div class="content-flex-box">
      <mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper>
        <mat-step>
          <ng-template matStepLabel>{{ "XML.NAME" | translate }}</ng-template>
          <div class="stepper-content">
            <app-xml-reader class="custom-content"></app-xml-reader>
            <div class="stepper-button-wrapper">
              <button
                class="stepper-button-margin"
                mat-flat-button
                color="primary"
                matStepperNext
              >
                {{ "UTIL.BUTTON.NEXT" | translate }}
              </button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>{{
            "PRODUCT_PLANNING.NAME" | translate
          }}</ng-template>
          <app-product-planning class="custom-content"></app-product-planning>
          <div class="stepper-button-wrapper">
            <button
              class="stepper-button-margin"
              mat-flat-button
              color="accent"
              matStepperPrevious
            >
              {{ "UTIL.BUTTON.BACK" | translate }}
            </button>
            <button
              class="stepper-button-margin"
              mat-flat-button
              color="primary"
              matStepperNext
            >
              {{ "UTIL.BUTTON.NEXT" | translate }}
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>{{
            "MRP.NAME_P1" | translate
          }}</ng-template>
          <app-material-requirements-planning
            class="custom-content"
            *ngIf="xmlData"
            [data]="xmlData"
            [bom]="bomP1"
            [salesOrderAmount]="xmlData.results.forecast._attributes.p1"
          ></app-material-requirements-planning>
          <div class="stepper-button-wrapper">
            <button
              class="stepper-button-margin"
              mat-flat-button
              color="accent"
              matStepperPrevious
            >
              {{ "UTIL.BUTTON.BACK" | translate }}
            </button>
            <button
              class="stepper-button-margin"
              mat-flat-button
              color="primary"
              matStepperNext
            >
              {{ "UTIL.BUTTON.NEXT" | translate }}
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>{{
            "MRP.NAME_P2" | translate
          }}</ng-template>
          <app-material-requirements-planning
            class="custom-content"
            *ngIf="xmlData"
            [data]="xmlData"
            [bom]="bomP2"
            [salesOrderAmount]="xmlData.results.forecast._attributes.p2"
          ></app-material-requirements-planning>
          <div class="stepper-button-wrapper">
            <button
              class="stepper-button-margin"
              mat-flat-button
              color="accent"
              matStepperPrevious
            >
              {{ "UTIL.BUTTON.BACK" | translate }}
            </button>
            <button
              class="stepper-button-margin"
              mat-flat-button
              color="primary"
              matStepperNext
            >
              {{ "UTIL.BUTTON.NEXT" | translate }}
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>{{
            "MRP.NAME_P3" | translate
          }}</ng-template>
          <app-material-requirements-planning
            class="custom-content"
            *ngIf="xmlData"
            [data]="xmlData"
            [bom]="bomP3"
            [salesOrderAmount]="xmlData.results.forecast._attributes.p3"
          ></app-material-requirements-planning>
          <div class="stepper-button-wrapper">
            <button
              class="stepper-button-margin"
              mat-flat-button
              color="accent"
              matStepperPrevious
            >
              {{ "UTIL.BUTTON.BACK" | translate }}
            </button>
            <button
              class="stepper-button-margin"
              mat-flat-button
              color="primary"
              matStepperNext
            >
              {{ "UTIL.BUTTON.NEXT" | translate }}
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>{{
            "CAPACITY_PLANNING.NAME" | translate
          }}</ng-template>
          <app-capacity-planning class="custom-content"></app-capacity-planning>
          <div class="stepper-button-wrapper">
            <button
              class="stepper-button-margin"
              mat-flat-button
              color="accent"
              matStepperPrevious
            >
              {{ "UTIL.BUTTON.BACK" | translate }}
            </button>
            <button
              class="stepper-button-margin"
              mat-flat-button
              color="primary"
              matStepperNext
            >
              {{ "UTIL.BUTTON.NEXT" | translate }}
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>{{
            "PROCUREMENT.NAME" | translate
          }}</ng-template>
          <app-procurement class="custom-content"></app-procurement>
          <div class="stepper-button-wrapper">
            <button
              class="stepper-button-margin"
              mat-flat-button
              color="accent"
              matStepperPrevious
            >
              {{ "UTIL.BUTTON.BACK" | translate }}
            </button>
            <button
              class="stepper-button-margin"
              mat-flat-button
              color="primary"
              matStepperNext
            >
              {{ "UTIL.BUTTON.NEXT" | translate }}
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>{{
            "RESULT.NAME" | translate
          }}</ng-template>
          <app-result class="custom-content"></app-result>
          <p>You are now done.</p>
          <div class="stepper-button-wrapper">
            <button
              class="stepper-button-margin"
              mat-flat-button
              color="accent"
              matStepperPrevious
            >
              {{ "UTIL.BUTTON.BACK" | translate }}
            </button>
            <button
              class="stepper-button-margin"
              mat-flat-button
              color="primary"
              (click)="stepper.reset()"
            >
              {{ "UTIL.BUTTON.RESET" | translate }}
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
