<h1 mat-dialog-title>{{"RESULT.SPLIT.DIALOG.HEADER" | translate}} {{data.article}}</h1>

<!--
    <div mat-dialog-content>
        <ng-container class="slider-wrapper">
            <mat-slider tickInterval="10" min="1" max="{{quantity - 1}}" (input)="pitch($event)"></mat-slider>
        </ng-container>
    </div>
    <div mat-dialog-content>{{rest1}}</div>
    <div mat-dialog-content>{{rest2}}</div>
-->

<div mat-dialog-content>
    <h3>{{"RESULT.SPLIT.DIALOG.INSTRUCTION" | translate}}</h3>
    <mat-form-field appearance="fill">
        <input matInput type="number" value="{{data.rest1}}" (change)="calculate($event)" [(ngModel)]="data.rest1" min="1">
    </mat-form-field>
</div>
<div mat-dialog-content>{{data.rest2}}</div>
<div *ngIf="negativeValue()" style="color:red;">{{"RESULT.SPLIT.DIALOG.WARNING" | translate}}</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" mat-dialog-close (click)="onNoClick()">{{"RESULT.SPLIT.DIALOG.DISCARD" | translate}}</button>
  <button mat-raised-button color="primary" mat-dialog-close [mat-dialog-close]="data.rest1" [disabled]="negativeValue()">{{"RESULT.SPLIT.DIALOG.SPLIT" | translate}}</button>
</div>
