<h1 mat-dialog-title>{{ "RESULT.SPLIT.DIALOG.HEADER" | translate}} {{data.article}}</h1>

<!--
    <div mat-dialog-content>
        <ng-container class="slider-wrapper">
            <mat-slider tickInterval="10" min="1" max="{{quantity - 1}}" (input)="pitch($event)"></mat-slider>
        </ng-container>
    </div>
    <div mat-dialog-content>{{rest1}}</div>
    <div mat-dialog-content>{{rest2}}</div>
-->

<div mat-dialog-content>
    {{ "RESULT.SPLIT.DIALOG.BATCH1" | translate }} <input matInput type="number" value="{{data.rest1}}" (change)="calculate($event)" [(ngModel)]="data.rest1">
</div>
<div mat-dialog-content>{{ "RESULT.SPLIT.DIALOG.BATCH2" | translate }}{{data.rest2}}</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onNoClick()">{{ "RESULT.SPLIT.DISCARD" | translate }}</button>
  <button mat-button mat-dialog-close [mat-dialog-close]="data.rest1">{{ "RESULT.SPLIT.SPLIT" | translate }}</button>
</div>
