<div class="result-content-wrapper">

    <mat-tab-group dynamicHeight>

      <!-- Direct Sales Tab -->
      <mat-tab>
        <ng-template mat-tab-label> {{ "PRODUCT_PLANNING.WISH.NAME" | translate }} </ng-template>
        <div class="example-container mat-elevation-z8">
        </div>
      </mat-tab>

       <!-- Direct Sales Tab -->
       <mat-tab>
        <ng-template mat-tab-label> {{ "PRODUCT_PLANNING.DIRECT.NAME" | translate }} </ng-template>
        <div class="example-container mat-elevation-z8">
        </div>
      </mat-tab>

    </mat-tab-group>

</div>