<mat-card>

    <p>Alle Zeitangaben werden in Minuten berechnet und angegeben</p>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Workplace Column -->
        <ng-container matColumnDef="workplace">
            <th mat-header-cell *matHeaderCellDef> Arbeitsplatz </th>
            <td mat-cell *matCellDef="let element"> {{element.workplace}} </td>
        </ng-container> 

        <!-- capacityRequirements Column -->
        <ng-container matColumnDef="capacityRequirements">
            <th mat-header-cell *matHeaderCellDef> Kapazitätsbedarf </th>
            <td mat-cell *matCellDef="let element"> {{element.capacityRequirements}} </td>
        </ng-container> 

        <!-- Set-up Time Column -->
        <ng-container matColumnDef="setupTime">
            <th mat-header-cell *matHeaderCellDef> Rüstzeit </th>
            <td mat-cell *matCellDef="let element">  
                <mat-form-field class="example-form-field">
                    <input matInput type="number">
                </mat-form-field>
            </td>
        </ng-container> 

        <!-- capacityRequirementsLastPeriod Column -->
        <ng-container matColumnDef="capacityRequirementsLastPeriod">
            <th mat-header-cell *matHeaderCellDef> Kapazitätsbedarf Vorperiode </th>
            <td mat-cell *matCellDef="let element">  
                <mat-form-field class="example-form-field">
                    <input matInput type="number">
                </mat-form-field>
            </td>
        </ng-container> 

        <!-- setupTimeLastPeriod Column -->
        <ng-container matColumnDef="setupTimeLastPeriod">
            <th mat-header-cell *matHeaderCellDef> Rüstzeit Vorperiode </th>
            <td mat-cell *matCellDef="let element">  
                <mat-form-field class="example-form-field">
                    <input matInput type="number">
                </mat-form-field>
            </td>
        </ng-container> 

        <!-- totalRequirement Column -->
        <ng-container matColumnDef="totalRequirement">
            <th mat-header-cell *matHeaderCellDef> Gesamtbedarf </th>
            <td mat-cell *matCellDef="let element">  
                <mat-form-field class="example-form-field">
                    <input matInput type="number">
                </mat-form-field>
            </td>
        </ng-container> 

        <!-- Overtime Column -->
        <ng-container matColumnDef="overtime">
            <th mat-header-cell *matHeaderCellDef> Überstunden pro Woche </th>
            <td mat-cell *matCellDef="let element">  
                <mat-form-field class="example-form-field">
                    <input matInput type="number">
                </mat-form-field>
            </td>
        </ng-container> 

        <!-- Second Shift Column -->
        <ng-container matColumnDef="secondShift">
            <th mat-header-cell *matHeaderCellDef> 2. Schicht </th>
            <td mat-cell *matCellDef="let element"> 
                <mat-checkbox
                    name="shift"
                    value="shift">
                </mat-checkbox>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"(click)="selection.toggle(row)"></tr>

    </table>
</mat-card>